page-cards {
    ion-content {
        background-color: color($colors, light, base)!important;
        padding-top: 50px;
    }
    .list-cards {
        background-color: color($colors, light, base)!important;
    }
    ion-item {
        padding: 5px;
    }
    ion-grid.cardON {
        background-color: color($colors, sopra-secondary, base);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 15px;
        max-width: 400px !important;
        .msg {
            background-color: color($colors, sopra-secondary, base);
        }
    }
    ion-grid.cardOFF {
        background-color: color($colors, sopra-primary, base);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 15px;
        max-width: 400px !important;
        .msg {
            background-color: color($colors, sopra-primary, base);
        }
    }
    .number {
        color: white;
        font-size: 1.1em;
        line-height: 1.5em;
        text-align: center;
    }
    .digits {
        padding-right: 3%;
        padding-left: 3%;
    }
    .bank {
        text-align: left;
        color: white;
        font-size: 0.8em;
    }
    .brand {
        max-width: 40%;
        float: right;
    }
    .ON {
        height: 8px;
        width: 8px;
        background-color: #8de278;
        border-radius: 50%;
        display: inline-block;
        margin-right: 2px;
    }
    .OFF {
        height: 8px;
        width: 8px;
        background-color: #fb5f5f;
        border-radius: 50%;
        display: inline-block;
        margin-right: 2px;
    }
    .dot {
        height: 5px;
        width: 5px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 4px;
    }
    .chip {
        img {
            max-width: 50px;
            padding-top: 5%;
            border-radius: 10% !important;
            overflow: hidden;
        }
    }
    .wallet-img{
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:50%;
        transform:translateY(-50%);
    }
    .wallet-tap{
        display: inline;
        font-size: 9vw;
        text-transform: uppercase;
    }
    ion-fab{
        bottom: 0px;
        margin:0 auto;
        position:absolute;
        left:50%;
        transform:translateX(-50%);
    }
}